.navbar {
    width: 100%;
    background-color: white;
    height:3px;

  }



  .logo{
    padding-top:0;
    margin-top: 0px;
    margin-left: 0;

  }

  .name{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 90px;
    top: 20px;
    padding-left: 20px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #030F34;
  }

  .navbar .pill .fa{
    padding-left: 0;
  }

  nav a{
    color:black;
    padding: 20px;
  }
  .pill{
    color:white;
    background-color: black;
    font-size: 12px;
    padding: 1em;
    margin:0.25em;
    border-radius:10px;
    border: none;
    outline:none;
    width: 84px;
    height: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }




  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  url("./assets/bg1.webp");
    background-repeat: no-repeat;
    background-size: 1540px 600px;
    background-repeat: no-repeat;
    background-position: center center;
     height: 100vh;
     opacity: 0.8;
  }

  .welcome-area .header-text {
    position: absolute;
    top: 30%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
    
  }

  .welcome-area .header-text h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;

  }


  .features-small-item {
    cursor: pointer;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
    text-align: center;
    position: relative;

  }
/* 
  .cards{
    min-height: 300px !important;
  } */

  .features-small-item:hover .icon {
    background-color:pink;
  }

  .features-small-item .icon {
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background:black;
    border-radius: 50%;
  }



  .features-small-item .features-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }

  .features-small-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
  }

  .features-small-item a {
    float: right;
    position: relative;
    z-index: 2;
  }

  .home-feature {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: -220px;
    z-index: 9;
  }
section{
  padding: 40px;
}